*{
    margin:0;
}

body{
    background-color:#E7D4B5;
}

#full{
    padding-top: 10%;
}

#back{
    padding-left: 10%;
    padding-bottom: 2%;
    text-decoration: none;
    font-size:1.10em;
}

.name{
    font-size: 3em;
    font-family: 'Encode Sans SC', sans-serif;
    font-weight: bold;
    text-align: center;
}

.mess-pic-div{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding:3% 10%;
}

.image-div{
    display: flex;
    align-items: center;
}

.image{
    width: 200px;
    height: 200px;
    border-radius: 48%;
    border: 3px solid black
}

.message-div{
    padding:0% 5% 0% 0%;
}

.message{
    font-size:1.25em;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    line-height: 30px;
    text-indent: 40px;
}

.quote{
    font-style: italic;
    font-size: 1.25em;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

#block{
    padding: 2% 10% 0% 10%;
}

@media only screen and (max-width: 746px){
    .mess-pic-div{
        flex-wrap: wrap;
    }
}

/* MUSIC */
#music{
	display:none;
	flex-direction:row;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	padding: 1%;
	background-color: lightgray;
	width:auto;
}

#text-play{
	padding-right: 2%;
	padding-top: 1%;
}

#play{
	font-size: 1.25em;
	text-align:center;
	font-family: arial,sans-serif;
	font-weight:bold;
}